<% layout("/layout/boilerplate") %> 

<div class="row">
<div class="alert alert-danger col-6 offset-3" role="alert">
    <div class="error-heading"><%= err.message %> </div>
  A simple danger alert—check it out!
</div>
</div>