/* body{
    background-color: pink;
} */

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* styling footer */
 .f-info-links a{
    text-decoration: none;
    color: #222222;
 }

 .f-info-links a:hover{
    text-decoration: underline;
    color: #222222;
 }

 .f-info-links,.f-info-socials, f.info.brand {
    width: 100%;
     font-size: 1.5rem;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .f-info-socials i{
    margin-right: 1rem;
 }


 .f-info{
    /* //get everything in single line */
    text-align: center;
    display: flex; 
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
 }